html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand';
  letter-spacing: 0.8px;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/Quicksand-VariableFont_wght.ttf');
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
