.outerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.innerContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 50%;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address {
  font-weight: lighter;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.title {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  color: #686868;
}

.openHoursTitle {
  font-weight: bold;
  margin: 0;
  font-size: 1.2rem;
}

.openHoursText {
  margin-top: 0.5rem;
}

.openHoursDesc {
  max-width: 15rem;
  text-align: center;
}

.keepersImage {
  max-width: 150px;
  margin-top: 1.5rem;
}

.emailAddress,
.phone {
  margin-top: 1rem;
}

.socialMediaContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.socialMediaIcon {
  max-width: 30px;
  margin: 15px;
  margin-bottom: 0;
}

.postServiceDesc {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

.postServiceInfo {
  margin-top: 0.7rem;
}

.link {
  color: #0274be;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: #3a3a3a;
}
