.openHoursTitle {
  font-weight: 700;
  margin: 0;
  font-size: 100%;
  margin-top: 1rem;
}

.openHoursText {
  margin-top: 0.5rem;
}

.openHoursDesc {
  max-width: 15rem;
  text-align: center;
  margin-top: 0;
  line-height: 1.5rem;
}